</main>
<footer class="footer has-background-grey-lighter has-text-dark has-margin-top-20 is-hidden-print">
  <div class="container">
    <div class="content has-text-right">
      <p class="has-text-grey-dark">
        <strong>
          <%= configFns.getProperty("application.applicationName") %>
        </strong><br />
        Build <%= buildNumber %>
      </p>
    </div>
  </div>
</footer>
<script src="/javascripts/main.min.js"></script>
