<aside class="menu">
  <p class="menu-label">
    Administrator Tools
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "User Management" ? "is-active" : "") %>" href="/admin/userManagement">
        <span class="icon">
          <i class="fas fa-user-cog" aria-hidden="true"></i>
        </span>
        User Management
      </a>
    </li>
  </ul>
</aside>
