<aside class="menu">
  <p class="menu-label">
    Parking Tickets
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Parking Tickets" ? "is-active" : "") %>" href="/tickets">
        <span class="icon">
          <i class="fas fa-fw fa-file-invoice" aria-hidden="true"></i>
        </span>
        <span>Parking Ticket Search</span>
      </a>
    </li>
    <% if (user.userProperties.canCreate) { %>
      <li>
        <a href="/tickets/new">
          <span class="icon">
            <i class="fas fa-fw fa-plus" aria-hidden="true"></i>
          </span>
          <span>Create a New Ticket</span>
        </a>
      </li>
    <% } %>
    <% if (user.userProperties.canUpdate) { %>
      <li>
        <a class="<%= (headTitle === "Convict Parking Tickets" ? "is-active" : "") %>" href="/tickets/convict">
          <span class="icon">
            <i class="fas fa-fw fa-gavel" aria-hidden="true"></i>
          </span>
          <span>Convict Parking Tickets</span>
        </a>
      </li>
    <% } %>
  </ul>
</aside>
