<div class="column is-3 is-hidden-print has-background-white-bis" id="is-sidemenu-expanded">
  <aside class="menu">
    <p class="menu-label">
      Parking Offences
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Parking Offences" ? "is-active" : "") %>" href="/offences">
          <span class="icon">
            <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
          </span>
          <span>Parking Offences</span>
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Parking Location Maintenance" ? "is-active" : "") %>" href="/offences/locations">
          <span class="icon">
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
          </span>
          <span>Parking Locations</span>
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "By-Law Maintenance" ? "is-active" : "") %>" href="/offences/bylaws">
          <span class="icon">
            <i class="fas fa-fw fa-gavel" aria-hidden="true"></i>
          </span>
          <span>Parking By-Laws</span>
        </a>
      </li>
    </ul>
  </aside>
  <button class="button is-light is-fullwidth has-margin-top-20" id="is-sidemenu-collapse-button">
    <span class="icon is-small"><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
    <span>Hide Side Menu</span>
  </button>
</div>
<div class="column is-narrow is-hidden-print is-hidden" id="is-sidemenu-collapsed">
  <button class="button is-light has-tooltip-right" id="is-sidemenu-expand-button" data-tooltip="Expand Side Menu">
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    <span class="sr-only">Expand Side Menu</span>
  </button>
</div>
