<aside class="menu">
  <p class="menu-label">
    Parking Tickets
  </p>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Licence Plates" ? "is-active" : "") %>" href="/plates">
        <span class="icon">
          <i class="fas fa-fw fa-car" aria-hidden="true"></i>
        </span>
        <span>Licence Plate Search</span>
      </a>
    </li>
  </ul>

  <% if (configFns.getProperty("application.feature_mtoExportImport")) { %>
    <p class="menu-label">
      MTO Integration
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "MTO Licence Plate Export" ? "is-active" : "") %>" href="/plates/mtoExport">
          <span class="icon">
            <i class="fas fa-fw fa-file-export" aria-hidden="true"></i>
          </span>
          <span>Export Licence Plates</span>
        </a>
      </li>
      <li>
        <a class="<%= (headTitle === "Import Licence Plate Ownership" ? "is-active" : "") %>" href="/plates/mtoImport">
          <span class="icon">
            <i class="fas fa-fw fa-file-import" aria-hidden="true"></i>
          </span>
          <span>Import Licence Plate Ownership</span>
        </a>
      </li>
    </ul>
  <% } %>
</aside>
