<div class="column is-3 is-hidden-print has-background-white-bis" id="cityssm-theme--sidemenu-expanded">
  <aside class="menu">
    <p class="menu-label">
      Parking Tickets
    </p>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Parking Tickets" ? "is-active" : "") %>" href="/tickets">
          <span class="icon">
            <i class="fas fa-fw fa-file-invoice" aria-hidden="true"></i>
          </span>
          <span>Parking Ticket Search</span>
        </a>
      </li>
      <% if (user.userProperties.canUpdate) { %>
        <li>
          <a class="<%= (headTitle === "New Ticket" ? "is-active" : "") %>" href="/tickets/new">
            <span class="icon">
              <i class="fas fa-fw fa-plus" aria-hidden="true"></i>
            </span>
            <span>Create a New Ticket</span>
          </a>
        </li>
      <% } %>
    </ul>
    <% if (user.userProperties.canUpdate) { %>
      <p class="menu-label">
        Ticket Actions
      </p>
      <ul class="menu-list">
        <li>
          <a class="<%= (headTitle === "Ownership Reconciliation" ? "is-active" : "") %>" href="/tickets/reconcile">
            <span class="icon">
              <i class="fas fa-fw fa-people-arrows" aria-hidden="true"></i>
            </span>
            <span>Ownership Reconciliation</span>
          </a>
        </li>
      </ul>
    <% } %>
    <% if (configFunctions.getProperty("application.feature_mtoExportImport") && (user.userProperties.canUpdate || user.userProperties.isOperator)) { %>
      <p class="menu-label">
        MTO Integration
      </p>
      <ul class="menu-list">
        <li>
          <a class="<%= (headTitle === "Convict Parking Tickets" ? "is-active" : "") %>" href="/tickets-ontario/convict">
            <span class="icon">
              <i class="fas fa-fw fa-gavel" aria-hidden="true"></i>
            </span>
            <span>Convict Parking Tickets</span>
          </a>
        </li>
      </ul>
    <% } %>
  </aside>
  <button class="button is-light is-fullwidth mt-4" id="cityssm-theme--sidemenu-collapse-button">
    <span class="icon is-small"><i class="fas fa-angle-double-left" aria-hidden="true"></i></span>
    <span>Hide Side Menu</span>
  </button>
</div>
<div class="column is-narrow is-hidden-print is-hidden" id="cityssm-theme--sidemenu-collapsed">
  <button class="button is-light has-tooltip-right" id="cityssm-theme--sidemenu-expand-button" data-tooltip="Expand Side Menu">
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    <span class="sr-only">Expand Side Menu</span>
  </button>
</div>
