<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-offences"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/offences">Parking Offences</a></li>
        <li class="is-active"><a href="#" aria-current="page">Parking Locations</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Parking Locations
    </h1>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/location-maint.min.js"></script>

<%- include('_footerB'); -%>
