<%- include('_header'); -%>

<div class="columns is-block-print">
  <div class="column is-3 is-hidden-print">
    <%- include("_sideMenu-tickets"); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Tickets</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Find a Parking Ticket
    </h1>

    <form id="form--filters">
      <input id="filter--limit" name="limit" type="hidden" value="50" />
      <input id="filter--offset" name="offset" type="hidden" value="0" />
      <div class="field">
        <label class="label" for="filter--isResolved">Resolution Status</label>
        <div class="control">
          <div class="select">
            <select id="filter--isResolved" name="isResolved">
              <option value="">(All Resolution Statuses)</option>
              <option value="0" selected>Unresolved Tickets</option>
              <option value="1">Resolved Tickets</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <div class="has-margin-top-20" id="container--searchResults"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/ticket-search.min.js"></script>

<%- include('_footerB'); -%>
