$family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@import '@cityssm/bulma-webapp-css/cityssm';
// @import '@fontsource/inter/latin-100';
// @import '@fontsource/inter/latin-200';
@import '@fontsource/inter/latin-300';
@import '@fontsource/inter/latin-400';
@import '@fontsource/inter/latin-500';
@import '@fontsource/inter/latin-600';
@import '@fontsource/inter/latin-700';
@import '@fontsource/inter/latin-800';
@import '@fontsource/inter/latin-900';


// FONT - PT MONO
// Used for licence plate numbers

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Mono'),
    local('PTMono-Regular'),
    url('/fontsource-pt-mono/pt-mono-latin-400-normal.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fontsource-pt-mono/pt-mono-latin-400-normal.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-display: swap;
}

// HTML

html {
  font-family: 'Inter', system-ui, sans-serif;
}

.has-opacity-2 {
  opacity: 0.2;
}

.licence-plate-number {
  font-family: 'PT Mono', monospace;
  font-size: 1.4em;
  color: var(--color);
  white-space: nowrap;
}

.licence-plate-country,
.licence-plate-province {
  font-size: 0.6em;
  font-weight: bold;
  color: var(--backgroundColor);
  background-color: var(--color);
  opacity: 0.8;
}

.licence-plate {
  display: inline-block;
  color: var(--color);
  text-align: center;
  background-color: var(--backgroundColor);
  border: 1px solid var(--color);
  border-radius: 5px;

  &.is-fullwidth {
    width: 100%;
  }

  > .licence-plate-number {
    min-width: 5em;
    padding: 2px 5px;
  }
}

/*
 * Tabs
 */

.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}

/*
 * Login
 */

#is-login-page {
  overflow: auto;
  background-image: url('/images/login.jpg');
  background-position: bottom right;
  background-size: cover;

  body > .columns {
    min-height: 100vh;
  }
}
