@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-helpers/bulma-helpers';
@import '../../node_modules/bulma-divider/src/sass/index';
//@import '../../node_modules/bulma-switch/src/sass/index';
@import '../../node_modules/bulma-tooltip/src/sass/index';
@import 'bulma-radio-checkbox';


@font-face {
  font-family: LicensePlate;
  src: url('/fonts/licensePlate.woff');
}


html.is-fullwidth {

  .navbar > .container,
  main.container,
  .footer > .container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media screen {

  .has-min-page-height {
    min-height: 100vh;
  }

  .is-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .is-hidden-screen {
    display: none !important;
  }

  .fixed-container {
    position: fixed;
    display: inline-block;
    z-index: 100;

    &.is-fixed-bottom-right {
      right: 0;
      bottom: 0;
    }
  }
}


@media print {

  .is-hidden-print,
  nav.breadcrumb {
    display: none !important;
  }

  .is-block-print {
    display: block !important;
  }

  .is-full-print {
    flex: none;
    width: 100% !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 0;
  }

  .is-static-print {
    position: static !important;
  }

}


.has-newline-chars {
  white-space: pre-wrap;
}

.has-height-auto {
  height: auto;
}

.has-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.is-nowrap {
  white-space: nowrap;
}



/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.is-readonly {
  cursor: not-allowed !important;
  background-color: $light !important;
}

select.is-readonly {
  pointer-events: none;
}


/*
 * Circle Button
 */

.button.is-circle {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  border-radius: 50%;
}


.licence-plate {
  display: inline-block;
  color: var(--color);
  text-align: center;
  background-color: var(--backgroundColor);
  border: 1px solid var(--color);
  border-radius: 5px;

  &.is-fullwidth {
    width: 100%;
  }
}

.licence-plate-number {
  min-width: 5em;
  padding: 2px 5px;
  //font-family: LicensePlate, monospace;
  font-family: monospace;
  font-size: 1.4em;
  color: var(--color);
  white-space: nowrap;
}

.licence-plate-province,
.licence-plate-country {
  font-size: 0.6em;
  font-weight: bold;
  color: var(--backgroundColor);
  background-color: var(--color);
  opacity: 0.8;
}


/*
 * Tabs
 */


.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}


/*
 * Login
 */

#is-login-page {
  overflow: auto;
  background-image: url('/images/login.jpg');
  background-position: bottom right;
  background-size: cover;
}
