$family-sans-serif: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import '@cityssm/bulma-webapp-css/cityssm';
@import 'bulma-radio-checkbox';


// FONT - PT MONO
// Used for licence plate numbers


@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('PT Mono Regular '),
    local('PT Mono-Regular'),
    url('/typeface-pt-mono/pt-mono-latin-400.woff2'),
    url('/typeface-pt-mono/pt-mono-latin-400.woff');
  font-display: swap;
}


// FONT - INTER


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/typeface-inter/Inter-Thin.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Thin.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/typeface-inter/Inter-ThinItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-ThinItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/typeface-inter/Inter-ExtraLight.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-ExtraLight.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/typeface-inter/Inter-ExtraLightItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-ExtraLightItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/typeface-inter/Inter-Light.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Light.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/typeface-inter/Inter-LightItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-LightItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/typeface-inter/Inter-Regular.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Regular.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/typeface-inter/Inter-Italic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Italic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/typeface-inter/Inter-Medium.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Medium.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/typeface-inter/Inter-MediumItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-MediumItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/typeface-inter/Inter-SemiBold.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-SemiBold.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/typeface-inter/Inter-SemiBoldItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-SemiBoldItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/typeface-inter/Inter-Bold.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Bold.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/typeface-inter/Inter-BoldItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-BoldItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/typeface-inter/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-ExtraBold.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/typeface-inter/Inter-ExtraBoldItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-ExtraBoldItalic.woff?v=3.12") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/typeface-inter/Inter-Black.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-Black.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/typeface-inter/Inter-BlackItalic.woff2?v=3.12") format("woff2"),
       url("/typeface-inter/Inter-BlackItalic.woff?v=3.12") format("woff");
}


// HTML


html {
  font-family: 'Inter', system-ui, sans-serif;
}


html.is-fullwidth {

  .navbar > .container,
  main.container,
  .footer > .container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media screen {

  #is-site-layout {
    min-height: calc(100vh - 20px);
  }

  .is-fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .is-hidden-screen {
    display: none !important;
  }

  .fixed-container {
    position: fixed;
    display: inline-block;
    z-index: 30;

    &.is-fixed-bottom-right {
      right: 0;
      bottom: 0;
    }
  }
}


@media print {

  .is-hidden-print,
  nav.breadcrumb {
    display: none !important;
  }

  .is-block-print {
    display: block !important;
  }

  .is-full-print {
    flex: none;
    width: 100% !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 0;
  }

  .is-static-print {
    position: static !important;
  }

}


.has-newline-chars {
  white-space: pre-wrap;
}

.has-height-auto {
  height: auto;
}

.has-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.is-nowrap {
  white-space: nowrap;
}



/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.is-readonly {
  cursor: not-allowed !important;
  background-color: $light !important;
}

select.is-readonly {
  pointer-events: none;
}


/*
 * Tables
 */


.table.is-fixed {
  table-layout: fixed;
}


/*
 * Side Menu
 */

.menu-list {

  a {
    display: flex;
  }

  .icon {
    margin-right: 5px;
  }
}


/*
 * Circle Button
 */

.button.is-circle {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  border-radius: 50%;
}


.licence-plate {
  display: inline-block;
  color: var(--color);
  text-align: center;
  background-color: var(--backgroundColor);
  border: 1px solid var(--color);
  border-radius: 5px;

  &.is-fullwidth {
    width: 100%;
  }

  > .licence-plate-number {
    min-width: 5em;
    padding: 2px 5px;
  }
}

.licence-plate-number {
  font-family: 'PT Mono', monospace;
  font-size: 1.4em;
  color: var(--color);
  white-space: nowrap;
}

.licence-plate-province,
.licence-plate-country {
  font-size: 0.6em;
  font-weight: bold;
  color: var(--backgroundColor);
  background-color: var(--color);
  opacity: 0.8;
}


/*
 * Tabs
 */


.tab-content {
  display: none;

  &.is-active {
    display: block;
  }
}


/*
 * Login
 */

#is-login-page {
  overflow: auto;
  background-image: url('/images/login.jpg');
  background-position: bottom right;
  background-size: cover;

  body > .columns {
    min-height: 100vh;

  }
}
